
.loginInstagram {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    padding: 10px;
    border: solid gainsboro;
    background-color: white;
    margin-left: 17%;
    margin-top: 5%;
}

.text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #999999;
    font-size: 20px;
}

.content {
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

.center {
    margin-top: 25%;
    margin-left: 25%;
}



.leftside {
    width: 50%;
    justify-content: center;
}
.rightside {
    width: 50%;
}


/*Кнопка входа*/
.logbutton {
    font-size: 18px;
    margin-top: 10px;
    width: 80%;
    color: white;
    background-color: #3897F0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}


/*Элементы для входа в инстаграм*/
.instagramInput {
    width: 80%;
    background-color: #fafafa;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
}


