body{
	margin: 0;
}

/* Стили для хедера страницы*/

.header {
	background-color: #464646;
	color: white;
	height: 100px;
	font-size: 30px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.header span{
	font-size: 52px;
	color: #FFF;
}

/* Форма регистрации и входа */
#loginUser{
	margin-left: 40%;
	margin-top: 10%;
	width: 310px;
	padding: 30px 50px 60px 50px;
	border: 1px solid #212121;
	border-radius: 15%;
}

#loginUser p{
	font-size: 27.5px;
}

#loginUser .input{
	width: 300px;
	height: 20px;
}

#loginUser .button{
	width: 150px;
}

/* Вкладки соц сетей */

.header .social{
	color: #FFF;
	margin-left: 55px;
}

/*Приветствие*/
.hello{
	margin-left: 15%;
	margin-top: 15%;
}

.hello span{
	font-size: 45px;
}

/* Цвет ссылки по умолчанию*/
a{
	color: white;
}

/* Подсвечивание ссылки "одноклассники" в header */
.aiming-odnoclass-link a:hover {
	color:#ff8c00;
}


/* Подсвечивание ссылки "одноклассники" в header */
.aiming-vk-link a:hover {
	color:#5c7cb6;
.text{
	color:#2851A3;
}