
.loginTwitter{
	margin-left: 17%;
	margin-top: 5%;
}

.content{
	display: inline-flex;
	width: 100%;
	height: 100%;
}

.center{
	margin-top: 25%;
	margin-left: 25%;
}

.leftside{
	width: 50%;	
	height: 640px;	
	background: url("../images/bird.jpg") 100% 100% no-repeat;
	background-size: cover;
}

.text{
	margin-top: 30px;
}

.text img{
	width: 25px;
	height: 25px;
	margin-top: 10px;
}

.text span{
	font-size: 24px;
	color: #FFF;
	font-weight:  bold;
}

.rightside{
	width: 50%;
}

/*Кнопка входа*/
.loginTwitter .login .logbutton{
	font-size: 14px;
	border: 1px solid #1da1f2;
	color: #1da1f2;
	background-color: #fff;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	padding: 10px;
}

.loginTwitter .login .logbutton:hover{
	background-color: #e6ecf0;
}

/*Элементы для входа в твиттер*/
.twitterInput {	
	font-size: 14px;
	padding: 10px;	
}

/*Кнопка регистрации*/
.loginTwitter .registration .regbutton{
	font-size: 14px;
	border: 1px solid #1da1f2;
	background-color: #1da1f2;
	color:#fff;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	padding: 10px;
}

.loginTwitter .registration .regbutton:hover{
	background-color: #006dbf;
	border-color: #006dbf;
}