body {
    margin: 0;
    background-image: url('../images/zactavAutor.png');
    background-size: cover;
}

.auth-block {
    display: flex;
    justify-content: center;

}

.auth-window {
    background-color: white;
    padding: 30px 30px 60px 30px;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 100px;
    width: 260px;
}


.string-up-input-login {
    display: flex;
    justify-content: left;
  /*  padding-right: 60px;*/
    font-size: 14px;
}

.string-up-input-password{
    display: flex;
    justify-content: left;
    padding-right: 210px;
    font-size: 14px;
    margin-top: 20px;
}

.input-log-parol-block{
    display: block;
    position: left;
}

.form-input{
    display: block;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid grey;
    margin-top: 10px;
    font-size: 20px;
    outline: none
}

.auth-sumbit-block {
    margin-top: 17px;
    display: inline-block;
    padding-bottom: 10px;
}

.enter-button {
    align-content: left;
    padding:  7px 105px 7px 105px;
    background-color: #F67219;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    outline: none;
    text-decoration: none; /* Убираем подчеркивание у ссылок */

}

.enter-button:hover {
    background: #E37023 ;
    border: 2px solid #E37023;
}

.forget-password{
    padding-left: 77px;
    color: black;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.forget-password:hover
{ 
    text-decoration: underline; /* Добавляем подчеркивание */
}

.image-no-profil{
    margin-top: 30px;
    margin-left: 8px;
}

.registration-button{
    align-content: left;
    padding: 7px 85px 7px 85px;
    background-color: #e8e8e8;
    border-radius: 20px;
    border: 2px solid white;
    color: #636363;
    outline: none
}

.registration-button:hover {
    background: #DFDCDB ;
    border: 2px solid #DFDCDB;
}

