body{
	margin: 0;
}

/* Стили для хедера страницы*/

.header {
	background-color: #464646;
	color: white;
	height: 100px;
	font-size: 30px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.header span{
	font-size: 52px;
	color: #FFF;
}

.error{
	color: red;
	margin-left: 13%;
	margin-bottom: 4%;
}

.change{
	color: black;
	margin-left: 90%;
}

#loginUser .error{
	margin-left: 21%;
}

.ok{
	color: green;
	margin-left: 13%;
	margin-bottom: 4%;
}

#loginUser .ok{
	margin-left: 15%;
}

/* Форма регистрации и входа */
#loginUser{
	margin-left: 40%;
	margin-top: 10%;
	width: 310px;
	padding: 30px 50px 60px 50px;
	border: 1px solid #212121;
	border-radius: 15%;
}

#changePass{
	margin-left: 40%;
	margin-top: 5%;
	width: 310px;
	padding: 30px 50px 60px 50px;
	border: 1px solid #212121;
	border-radius: 15%;	
}

#loginUser p, #changePass p{
	font-size: 27.5px;
}

#loginUser .login,#loginUser .password{
	width: 300px;
	height: 20px;
}

#loginUser .button{
	width: 150px;
}

/* Вкладки соц сетей */

.header .social{
	color: #FFF;
	margin-left: 45px;
}

/*Приветствие*/
.hello{
	margin-left: 15%;
	margin-top: 15%;
}

.helloPas{
	margin-left: 40%;
	margin-top: 15%;	
}

.hello span{
	font-size: 45px;
}

/* Цвет ссылки по умолчанию*/
a{
	color: white;
}

/* Подсвечивание ссылки "одноклассники" в header */
.aiming-odnoclass-link a:hover {
	color:#ff8c00;
}


/* Подсвечивание ссылки "одноклассники" в header */
.aiming-vk-link a:hover {
	color:#5c7cb6;
}

.aiming-twitter-link a:hover{
	color: #006dbf;
}
.aiming-facebook-link a:hover{
	color: #3b5998;
}

.aiming-instagram-link a:hover {
    color: #3f729b;
}

.aiming-github-link a:hover{
	color:rgb(23,23,23);
}

.text{
	color:#2851A3;
}